<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    >
    
    <!-- Permessi NFC richiesti -->
    <uses-permission android:name="android.permission.NFC" />
    
    <!-- Feature NFC richiesta -->
    <uses-feature 
        android:name="android.hardware.nfc" 
        android:required="true" />
    
    <!-- Supporto per ISO-DEP (smart card) -->
    <uses-feature 
        android:name="android.hardware.nfc.hce" 
        android:required="false" />
        
</manifest>

